<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'dashboard/base.html' %}
    {% block content %}
        {% if purchase %}
            {% for item in purchase%}
                {{item.id}}
                {{item.product}}
                {{item.seller}}
                {{item.status}}
                <a href="{% url 'deletepurchase' item.id %}"><button>Delete purchase</button></a>
                <br>
            {% endfor %}
        {% else %}
            No items 
        {% endif %}
    {% endblock %}
</body>
</html>