<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'dashboard/base.html' %}
        {% block content %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {{form.user}}
        {% if product.user == request.user %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit">
        </form>
        {% else %}
        <h1>Your are not autherised to do this operation</h1>
        {%endif%}
        {% endblock %}
</body>
</html>