<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% extends 'dashboard/base.html' %}
        {% block content %}

        
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-dark" role="alert">
                <ul{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</ul>
              </div>
            {% endfor %}
        </ul>
        




  <!--Main layout-->
  <main class="my-5" >
    <div class="container" >
      <!--Grid row-->
      <div class="row">
        <h1 class="display-1 mb-5">My Products</h1>
        <!--Grid column-->
        <div class="col-md-9 mb-4">
          <!--Section: Content-->
          <section>
            {% if products %}
            {% for product in products %}
            <!-- Post -->
            <div class="row mb-5" style="    border-radius: 30px;
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">
              <div class="col-md-4 " style="margin-top: 12px;">
                <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                  <img src="{{product.image1.url}}" class="img-fluid" style="height: 200px; width: 300px; border-radius: 25px;"/>
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
              </div>

              <div class="col-md-8 mb-5">
                <h3 style="margin-top: 10px;">{{product.name}}</h3>
                <h5 style="color: green;">₹{{product.price}}</h5>
                <p>
                    {{product.description}}
                </p>
                <a href="{% url 'product' product.id%}">
                    <button type="button" class="btn btn-dark btn-lg btn-block" style="">View Details</button>
                </a>
                
              </div>
            </div>
            {% endfor %}
            {%else%}
            <h1 class="display-3 mb-5">No products posted yet</h1>
            {%endif%}
            
          </section>
          <!--Section: Content-->
        </div>
       


        
        {% endblock %}
</body>
</html> 